In [21]:
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np
import seaborn as sns

## Quiz 1

Use this file as a starting point for your work. You are free to add/import any other libaries that you may want, though you shouldn't need much more, if anything. 

There are multiple approaches to solve each of the challenges. It is probably easiest to create a function that calculates a generic version of a solution, then takes in arguments for which data to use. There is an example of one of the functions I used to make a solution below. 

Please push you finished work into a repository on your github and paste the link in the final question. The responses on Moodle are what is graded, but your code will be glanced at to ensure you actually did the work and didn't do the calculations somewhere else.

### Example Function

In [22]:
# Here is the framework of my function for the first set of challenges

#def rangeMag(df_in, columnName):
# ...SOME CODE THAT CALCULATES STUFF...
#    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
#print(rangeMag(df, "Nodeg"))
# Earnings_1974
#print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
#print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
#print(rangeMag(df, "Earnings_1978"))

### Load Some Data

In [23]:
df = pd.read_csv("LabourTrainingEvaluationData.csv")
df.head()

,Age,Eduacation,Race,Hisp,MaritalStatus,Nodeg,Earnings_1974,Earnings_1975,Earnings_1978
0,45,LessThanHighSchool,NotBlack,NotHispanic,Married,1,21516.670,25243.550,25564.670
1,21,Intermediate,NotBlack,NotHispanic,NotMarried,0,3175.971,5852.565,13496.080
2,38,HighSchool,NotBlack,NotHispanic,Married,0,23039.020,25130.760,25564.670
3,48,LessThanHighSchool,NotBlack,NotHispanic,Married,1,24994.370,25243.550,25564.670
4,18,LessThanHighSchool,NotBlack,NotHispanic,Married,1,1669.295,10727.610,9860.869

### Challenge 1 - Magnitude of Range

In [24]:
def rangeMag(df_in, columnName):
    retVal= df_in[columnName].max()-df_in[columnName].min()
    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
print(rangeMag(df, "Nodeg"))
# Earnings_1974
print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
print(rangeMag(df, "Earnings_1978"))

1
25862.32
25243.55
25564.67

### Challenge 2 - Percent of Values Above a Value

In [34]:
percent= df[df["Earnings_1978"]>25000]
print(percent["Earnings_1978"].count()/len(df["Earnings_1978"]))
#print(df.count()/len(df))

0.272823911955978

In [38]:



def percent(df_in, columnName, value):
    count=0
    for i in df_in[columnName]:
        if i > value:
            count +=1
            resultVal= count/len(df_in[columnName])
    return resultVal

In [39]:
print(percent(df,"Earnings_1974",20000))
print(percent(df,"Earnings_1978",25000))
print(percent(df,"Earnings_1978",np.median(df["Earnings_1975"])))

0.35767883941970985
0.272823911955978
0.5521510755377689

### Challenge 3 - Mean of Differences

In [40]:
df1=df["Earnings_1975"]-df["Earnings_1975"]
df1.mean()

0.0

In [ ]:
df3=df["Earnings_1978"]-df["Earnings_1974"]
np.mean(df3)

829.8593687151432

In [41]:
def MeanOfDifference(df_in, column1, column2):
    df_in["diff"] = df_in[column1] - df_in[column2]
    print(df_in["diff"].mean())
    

MeanOfDifference(df, "Earnings_1975", "Earnings_1975")
MeanOfDifference(df, "Earnings_1974", "Earnings_1978")

0.0
-829.8593687151432

### Challenge 4 - Count of Values in Range

In [45]:
def InRange(df_in, column, begin, end):
    count=0
    for i in df_in[column]:
        if begin <= i <=end:
            count+=1
    return count

In [49]:
print(InRange(df,"Earnings_1974", 10000, 15000))
print(InRange(df,"Age", 18, 49))

2054
13468

In [50]:
mean78 = df["Earnings_1978"].mean()
median78 = df["Earnings_1978"].median()

print(InRange(df[(df["Age"] >= 20) & (df["Age"] <= 29)] ,  "Earnings_1978", mean78, median78))

297

### Challenge 5 - Basic Stats Calculations

In [51]:
var_74=np.var(df["Earnings_1974"])
var_75=np.var(df["Earnings_1975"])
var_78=np.var(df["Earnings_1978"])
var_74,var_75,var_78

(91575266.76554328, 85935001.9910381, 93066343.30405259)

In [52]:
print(df["Earnings_1974"].median()-df["Earnings_1974"].mean())
print(df["Earnings_1975"].median()-df["Earnings_1975"].mean())
print(df["Earnings_1978"].median()-df["Earnings_1978"].mean())

1106.779695808831
906.3066239268392
1575.3153270939874

### Challenge 6 - Cohort Calculations

Here is some sample code that may be helpful:

```python
#Modification of cohort code to send back a tuple of results. 
#You could do this more manually as well.
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        i = i + 1
    return resList
```

In [ ]:
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        
        i = i + 1
    return resList

In [ ]:

print(df.groupby(["Race", "Hisp", "MaritalStatus"])["Earnings_1978"].median().sort_values())
print(df.groupby(["Eduacation", "Race", "Hisp"])["Earnings_1974"].median().sort_values())

Race      Hisp         MaritalStatus
black     NotHispanic  NotMarried        7862.9830
NotBlack  hispanic     NotMarried        9350.3145
          NotHispanic  NotMarried       10431.2700
black     NotHispanic  Married          15174.7700
NotBlack  hispanic     Married          15636.5600
          NotHispanic  Married          20462.0800
Name: Earnings_1978, dtype: float64
Eduacation          Race      Hisp
PostGraduate        NotBlack  hispanic        8398.397
LessThanHighSchool  black     NotHispanic     9966.790
graduate            black     NotHispanic    10609.430
Intermediate        black     NotHispanic    11038.510
LessThanHighSchool  NotBlack  hispanic       11316.730
                              NotHispanic    11675.275
HighSchool          black     NotHispanic    12074.960
Intermediate        NotBlack  hispanic       14198.810
HighSchool          NotBlack  hispanic       14908.065
Intermediate        NotBlack  NotHispanic    15065.780
PostGraduate        black     NotHispanic    17036.805
HighSchool          NotBlack  NotHispanic    17431.600
graduate            NotBlack  hispanic       17989.010
PostGraduate        NotBlack  NotHispanic    18109.500
graduate            NotBlack  NotHispanic    18781.530
Name: Earnings_1974, dtype: float64