In [22]:
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np
import seaborn as sns

## Quiz 1

Use this file as a starting point for your work. You are free to add/import any other libaries that you may want, though you shouldn't need much more, if anything. 

There are multiple approaches to solve each of the challenges. It is probably easiest to create a function that calculates a generic version of a solution, then takes in arguments for which data to use. There is an example of one of the functions I used to make a solution below. 

Please push you finished work into a repository on your github and paste the link in the final question. The responses on Moodle are what is graded, but your code will be glanced at to ensure you actually did the work and didn't do the calculations somewhere else.

### Example Function

In [23]:
# Here is the framework of my function for the first set of challenges

#def rangeMag(df_in, columnName):
# ...SOME CODE THAT CALCULATES STUFF...
#    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
#print(rangeMag(df, "Nodeg"))
# Earnings_1974
#print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
#print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
#print(rangeMag(df, "Earnings_1978"))

### Load Some Data

In [24]:
df = pd.read_csv("LabourTrainingEvaluationData.csv")
df.head()

,Age,Eduacation,Race,Hisp,MaritalStatus,Nodeg,Earnings_1974,Earnings_1975,Earnings_1978
0,45,LessThanHighSchool,NotBlack,NotHispanic,Married,1,21516.670,25243.550,25564.670
1,21,Intermediate,NotBlack,NotHispanic,NotMarried,0,3175.971,5852.565,13496.080
2,38,HighSchool,NotBlack,NotHispanic,Married,0,23039.020,25130.760,25564.670
3,48,LessThanHighSchool,NotBlack,NotHispanic,Married,1,24994.370,25243.550,25564.670
4,18,LessThanHighSchool,NotBlack,NotHispanic,Married,1,1669.295,10727.610,9860.869

### Challenge 1 - Magnitude of Range

In [25]:
def rangeMag(df_in, columnName):
    retVal= df_in[columnName].max()-df_in[columnName].min()
    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
print(rangeMag(df, "Nodeg"))
# Earnings_1974
print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
print(rangeMag(df, "Earnings_1978"))

1
25862.32
25243.55
25564.67

In [26]:
df["Nodeg"].max()-df["Nodeg"].min()

1

In [27]:
df["Earnings_1974"].max()-df["Earnings_1974"].min()

25862.32

In [28]:
df["Earnings_1975"].max()-df["Earnings_1975"].min()

25243.55

In [29]:
df["Earnings_1978"].max()-df["Earnings_1978"].min()

25564.67

In [30]:
df["Nodeg"].value_counts().sum()

15992

In [31]:
q75,q25=np.percentile(df['Earnings_1975'],[75,25])
r=q75-q25
r

18524.914500000003

### Challenge 2 - Percent of Values Above a Value

In [32]:
cdf_1974= thinkstats2.Cdf(df["Earnings_1975"])
100 - cdf_1974.PercentileRank(20000)

33.74187093546773

In [33]:
cdf_1978= thinkstats2.Cdf(df["Earnings_1978"])
100 - cdf_1978.PercentileRank(25000)

27.282391195597796

In [34]:
med_75 =np.median(df["Earnings_1975"])
med_75

14557.11

In [35]:
100-cdf_1978.PercentileRank(14557.11)

55.21510755377689

### Challenge 3 - Mean of Differences

In [36]:
df1=df["Earnings_1975"]-df["Earnings_1978"]

In [37]:
df1.mean()

-1195.8562968346355

In [38]:
df2=df["Earnings_1978"]-df["Earnings_1975"]
np.mean(df2)

1195.8562968346355

In [39]:
df3=df["Earnings_1978"]-df["Earnings_1974"]
np.mean(df3)

829.8593687151432

In [54]:
df3["fiff"]=df["Earnings_1974"]-df["Earnings_1978"]
df3["fiff"].mean()

-829.8593687151432

In [55]:
df["diff"] = df["Earnings_1974"]-df["Earnings_1978"]
#df["diff"] = df["diff"].abs()
print(df["diff"].mean())

-829.8593687151432

In [51]:
def MeanOfDifference(df_in, column1, column2):
    df_in["diff"] = df_in[column1] - df_in[column2]
    df_in["diff"] = df_in["diff"].abs()
    print(df_in["diff"].mean())
    # print(df_in[["Earnings_1975", "Earnings_1975", "diff"]].head(20))

MeanOfDifference(df, "Earnings_1975", "Earnings_1975")
MeanOfDifference(df, "Earnings_1974", "Earnings_1978")

0.0
5364.019479787908

In [41]:
df_out = df[df["Earnings_1978"] > 5000]
df_out=  df_out[df_out["Earnings_1978"] < 25000]
df_out["Earnings_1978"].describe()

count     7808.000000
mean     15634.539714
std       5586.418750
min       5000.627000
25%      11014.970000
50%      15813.150000
75%      20523.037500
max      24998.700000
Name: Earnings_1978, dtype: float64

### Challenge 4 - Count of Values in Range

In [42]:
df1= df[df["Earnings_1974"]>=10000]
df1=df1[df1["Earnings_1974"]<=15000]
df1["Earnings_1974"].value_counts().sum()

2054

### Challenge 5 - Basic Stats Calculations

In [43]:
dfa= df[df["Age"]>=18]
dfa=dfa[dfa["Age"]<=49]
dfa["Age"].value_counts().sum()

13468

In [44]:
m1=np.mean(df["Earnings_1978"])
m2=np.median(df["Earnings_1978"])
m1,m2

(14846.659672906011, 16421.975)

In [45]:
df_a= df[df["Age"]>=20]
df_a=df_a[df_a["Age"]<30]
df_a["Age"].value_counts().sum()

5478

In [46]:
df1= df_a[df_a["Earnings_1978"]>=14846.65]
df1=df1[df1["Earnings_1978"]<=16421.97]
df1["Earnings_1978"].value_counts().sum()

297

### Challenge 6 - Cohort Calculations

Here is some sample code that may be helpful:

```python
#Modification of cohort code to send back a tuple of results. 
#You could do this more manually as well.
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        i = i + 1
    return resList
```

In [47]:
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        
        i = i + 1
    return resList

In [49]:
print(df.groupby(['Race','Hisp','Marital Status'])['Earnings_1978'].median())
print(df.groupby(['Race','Hisp','Eduacation'])['Earnings_1978'].median())

KeyError: 'Marital Status'

In [50]:

print(df.groupby(["Race", "Hisp", "MaritalStatus"])["Earnings_1978"].median().sort_values())
print(df.groupby(["Eduacation", "Race", "Hisp"])["Earnings_1974"].median().sort_values())

Race      Hisp         MaritalStatus
black     NotHispanic  NotMarried        7862.9830
NotBlack  hispanic     NotMarried        9350.3145
          NotHispanic  NotMarried       10431.2700
black     NotHispanic  Married          15174.7700
NotBlack  hispanic     Married          15636.5600
          NotHispanic  Married          20462.0800
Name: Earnings_1978, dtype: float64
Eduacation          Race      Hisp
PostGraduate        NotBlack  hispanic        8398.397
LessThanHighSchool  black     NotHispanic     9966.790
graduate            black     NotHispanic    10609.430
Intermediate        black     NotHispanic    11038.510
LessThanHighSchool  NotBlack  hispanic       11316.730
                              NotHispanic    11675.275
HighSchool          black     NotHispanic    12074.960
Intermediate        NotBlack  hispanic       14198.810
HighSchool          NotBlack  hispanic       14908.065
Intermediate        NotBlack  NotHispanic    15065.780
PostGraduate        black     NotHispanic    17036.805
HighSchool          NotBlack  NotHispanic    17431.600
graduate            NotBlack  hispanic       17989.010
PostGraduate        NotBlack  NotHispanic    18109.500
graduate            NotBlack  NotHispanic    18781.530
Name: Earnings_1974, dtype: float64

In [36]:
var_74=np.var(df["Earnings_1974"])
var_75=np.var(df["Earnings_1975"])
var_78=np.var(df["Earnings_1978"])
var_74,var_75,var_78

(91575266.76554328, 85935001.9910381, 93066343.30405259)

In [38]:
df["Earnings_1974"].median()-df["Earnings_1974"].mean()

1106.779695808831

In [39]:
df["Earnings_1975"].median()-df["Earnings_1975"].mean()

906.3066239268392

In [40]:
df["Earnings_1978"].median()-df["Earnings_1978"].mean()

1575.3153270939874

In [54]:
notmarried = df[df["MaritalStatus"] == "NotMarried"]
married= df[df["MaritalStatus"]=="Married"]
print(notmarried["Earnings_1978"].median())
print(married["Earnings_1978"].median())

9982.043000000001
19664.85

In [55]:
notHisp = df[df["Hisp"] == "NotHispanic"]
hisp= df[df["Hisp"]=="hispanic"]
print(notHisp["Earnings_1978"].median())
print(hisp["Earnings_1978"].median())

16717.52
13717.74

In [56]:
notBlack = df[df["Race"] == "NotBlack"]
black = df[df["Race"] == "black"]
print(notBlack["Earnings_1978"].median())
print(black["Earnings_1978"].median())

16894.11
12115.880000000001

In [58]:
e1=df[df["Eduacation"] == "HighSchool"]
e2=df[df["Eduacation"] == "LessThanHighSchool"]
e3=df[df["Eduacation"] == "Intermediate"]
e4=df[df["Eduacation"] == "graduate"]
e5=df[df["Eduacation"] == "PostGraduate"]
e1["Earnings_1974"].median(), e2["Earnings_1974"].median(),e3["Earnings_1974"].median(), e4["Earnings_1974"].median(),e5["Earnings_1974"].median()

(16902.59, 11397.05, 14801.279999999999, 18597.36, 17458.045)

In [59]:
notBlack = df[df["Race"] == "NotBlack"]
black = df[df["Race"] == "black"]
print(notBlack["Earnings_1974"].median())
print(black["Earnings_1974"].median())

15526.21
11079.65

In [60]:
notHisp = df[df["Hisp"] == "NotHispanic"]
hisp= df[df["Hisp"]=="hispanic"]
print(notHisp["Earnings_1974"].median())
print(hisp["Earnings_1974"].median())

15374.37
12668.615